* {
    //border: solid 1px #000;
}

html {
    background: #64b951;
}

body {
    margin: 0;
}

.main {
    position: relative;
    margin: 0 auto;
    max-width: 90em;
    min-width: 20em;
    text-align: center;
    font-family: "Lobster Two", cursive, sans-serif;
    font-weight: bold;
    background: url("/computer.png") no-repeat;
    background-position: 50% 39%;
    height: 50em;
}

.main-container{
    padding-bottom: 5em;
    
}

.main h1 {
    padding: .5em .5em 0 .5em;
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

.main p {
    padding: .125em 0.125em 1em 0.125em;
    font-size: 1.2em;
    margin-top: 0;
}

.main span {
    padding: .6em 1em .6em 1em;
    margin: 0.3em;
    font-size: 1.2em;
    border-radius: 0.4em;
}

.about-box {
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding: 2em 4em 4em 4em;
    background: #84d971;
}

#about {
    padding: .1em;
    font-family: 'lobster', cursive;
    font-size: 4em
}

.about-box p {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

span {
    color: white;
    cursor: pointer;
    background: seagreen;
    
}

span:hover {
    background: lightgreen;
    color: darkslategray;
}

a {
    text-decoration: none;
}
