* {
    background: #64b951;
    /*border: solid 0.001em #000; */
}

.main {
    position: relative;
    margin: auto;
    max-width: 50em;
    min-width: 20em;
    text-align: center;
    font-family: "Lobster Two", cursive, sans-serif;
    font-weight: bold;
    background: url("/computer.png") no-repeat center center;
    height: 53em;
}

.main h1 {
    padding: .5em .5em 0 .5em;
    font-size: 2.2em;
    margin-bottom: 0.5em;
}

.main p {
    padding: .125em;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

span {
    padding: 1em 1.25em 1em 1.25em;
    margin-top: 0;
}




